@tailwind base;
@tailwind components;
@tailwind utilities;

/* .home {
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(
      49% 81% at 45% 47%,
      #20b8c245 0%,
      #073aff00 100%
    ),
    radial-gradient(113% 91% at 17% -2%, #00b5ff00 1%, #ff000000 99%),
    radial-gradient(142% 91% at 83% 7%, #0150b9ff 1%, #ff000000 99%),
    radial-gradient(142% 91% at -6% 74%, #ff0000ff 1%, #ff000000 99%),
    radial-gradient(142% 91% at 111% 84%, #00d8ffff 0%, #00adffff 100%);
} */

* {
  font-family: "Oxygen", sans-serif;
}

@layer components {
  .btn {
    @apply px-3 py-1 text-sm text-gray-500 transition ease-in-out border rounded shadow bg-gray-50 shadow-gray-300 hover:bg-gray-200;
  }

  .btn-primary {
    @apply px-3 py-1 text-sm text-white transition ease-in-out rounded shadow shadow-primary bg-primary hover:bg-blue-900;
  }

  .btn-green {
    @apply px-3 py-1 text-sm text-white transition ease-in-out rounded shadow bg-emerald-500 shadow-emerald-400 hover:bg-emerald-700;
  }

  .btn-yellow {
    @apply px-3 py-1 text-sm text-white transition ease-in-out bg-yellow-400 rounded shadow shadow-yellow-300 hover:bg-yellow-600;
  }

  .btn-red {
    @apply px-3 py-1 text-sm text-white transition ease-in-out bg-red-500 rounded shadow shadow-red-500 hover:bg-red-700;
  }

  .txt-input {
    @apply w-full p-1 border rounded;
  }

  .txt-label {
    @apply absolute z-10 px-1 ml-3 -mt-2 text-sm bg-white rounded;
  }

  .form-section {
    @apply px-3 py-5 m-2 border rounded-lg shadow-sm;
  }

  .form-label{
    @apply absolute z-10 px-1 ml-3 -mt-1 text-sm  bg-white rounded
  }
}
